*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
header{
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: none;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
header ul li a:hover,.active{
    background: rgb(131, 233, 14);
    color: rgb(165, 98, 223);
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main::after{
    content: '' ;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background:linear-gradient(to top,#11000c,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: lighten;
    transform: translateY(40px);
}
.foru{
    color: antiquewhite;
    font-size: 25px;
    transform: translateY(-200px);
    
} 
.content{
    color: aliceblue;
    padding: 30px;
}
.content h2{
    margin: 20px;
    font-size: 30px;
}
.content p{
    margin: 20px;
}


